:host{
  min-height: 100vh;
  position: relative;
  display: block;
}

#background{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#background::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 500%;
  top: -250%;
  left: -50%;
  z-index: -1;
  background-image: radial-gradient(var(--lad-lavender) 20%, var(--lad-light-lavender) 20%);
  background-position: 0 0;
  background-size: 100px 100px;
  transform: rotate(20deg);
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes slide {
  from {
    transform: translateX(0px) rotate(20deg) translateY(0px);
  }
  to {
    transform: translateX(106.418px) rotate(20deg)  translateY(36.397px);
  }
}
