:host{
  height: 100%;
  position: relative;
  display: block;
}

#background{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

#background::before {
  content: "";
  position: absolute;
  width: 10000px; /* TODO make this work on larger monitors */
  height: 10000px;
  top: -5000px;
  left: -5000px;
  z-index: -1;
  background-image: radial-gradient(var(--lad-lavender) 20%, var(--lad-light-lavender) 20%);
  background-position: 0 0;
  background-size: 100px 100px;
  transform: rotate(20deg);
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes slide {
  from {
    transform: translateX(0px) rotate(20deg) translateY(0px);
  }
  to {
    transform: translateX(106.418px) rotate(20deg)  translateY(36.397px);
  }
}
