@import '~normalize.css';

:root{
  --lad-red: #FA483C;
  --lad-orange: #FA7B30;
  --lad-yellow: #FAD401;
  --lad-green: #138F30;
  --lad-blue: #3253D6;
  --lad-purple: #7F32C7;
  --lad-pink: #D162CC;
  --lad-lavender: #dfefff;
  --lad-light-lavender: #F7FBFF;
  --lad-white: #FCFCFC;

  --z-4-inset: inset 0 2px 4px -1px rgba(0,0,0,.2), inset 0 4px 5px 0 rgba(0,0,0,.14), inset 0 1px 10px 0 rgba(0,0,0,.12);
  --z-6: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  --z-12: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
}

*{
  font-family: 'Patrick Hand SC', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
}

app-null-room{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

#errMsg{
  color: var(--lad-purple);
  font-size: 35px;
  text-align: center;
}

#errBackButton{
  display: inline-block;
  background: var(--lad-blue);
  color: var(--lad-white);
  cursor: pointer;
  border-radius: 9px;
  font-size: 24px;
  text-decoration: none;
  padding: 6px 10px;
}

#errBackButton>i{
  vertical-align: bottom;
  position: relative;
  left: -9px;

}
